@import url("bootstrap");
@import url("bootstrap-icons");

/* utils */
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* generics */
li {
  width: 500px;
  background-color: orange;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 10px;
  border: solid 2px orange;
  padding: 10px;
}

input {
  width: 400px;
  padding: 5px;
}

button {
  padding: 5px;
}

i {
  color: orange;
}