@import url("bootstrap");

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  width: 500px;
  list-style-type: none;
  margin-bottom: 10px;
  border: solid 2px orange;
  padding: 10px;
}

input {
  width: 400px;
}